name: Build Base

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin

      - name: Cache Gradle Packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Grant execute permissions to gradlew
        run: chmod +x gradlew

      - name: Build gradle
        env:
          VERSION: ${{ inputs.tag }}
          SKIP_PROMPT: true
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: carpet1122-ctec-build-${{ inputs.tag }}
          path: build/out/
