name: Release
permissions:
  contents: write
  actions: read

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      tag:
        description: "Release tag"
        required: true
        default: latest-dev

jobs:
  build:
    uses: ./.github/workflows/build-base.yaml
    with:
      tag: ${{ github.event.inputs.tag }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: carpet1122-ctec-build-${{ github.event.inputs.tag }}
          path: ./build/proxy/out/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag' || github.event_name == 'workflow_dispatch'
        with:
          tag_name: ${{ github.event.inputs.tag }}
          files: ./build/proxy/out/**/*